@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Mukta", sans-serif;
  background-size: cover;
  background-color: #00246B;
  box-shadow: 0 4px 12px black;
  width: 300px;
  height: 100vh;
  position: fixed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.user_name {
  font-family: "Mukta", sans-serif;
  font-size: 22px;
  padding: 20px;
  color: gold;
}

.course_handling {
  font-size: 22px;
  padding: 10px;
  color: white;
}

.course_container {
  width: 100px;
  margin-left: 100px;
  margin-top: 30px;
  color: white;
}

select {
  width: 175px;
  padding: 15px;
  /* margin-left: 75px; */
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid #b07272;
  border-radius: 3px;
  cursor: pointer;
}

.drop-down{
  text-align: center;
  display: flex;
  justify-content: center;
}
